*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

:root{
  --rosa:#b26b6b;
  --rosaClaro:#f7dede;
  --rosaMedio:#f3c9d7;
  --lilas:#eccff3;
  --branco:#fff;
}

body{
  min-height:100vh;
  overflow:hidden;

  background:linear-gradient(
    90deg,
    #f7ecec 0%,
    #f7ecec 50%,
    #efd3ef 100%
  );
}

/* NAVBAR */

.navbar{
  width:100%;
  height:80px;

  background:#F5D9D5;

  display:flex;
  align-items:center;
  justify-content:space-between;

  padding:0 50px;

  border-bottom-left-radius:12px;
  border-bottom-right-radius:12px;

  position:relative;
  z-index:10;

   box-shadow:
  0 4px 15px rgba(0,0,0,0.08);
}

/* LOGO */

.logo{

  display:flex;
  align-items:center;
  gap:12px;

  color:#8F5353;

  font-size:2rem;
  font-weight:700;
}

.logo img{
  width:42px;
}

/* MENU */

.menu{
  display:flex;
  align-items:center;
  gap:50px;
}

.menu a{
  display:flex;
  flex-direction:column;
  align-items:center;

  text-decoration:none;
  color:var(--rosa);

  font-size:13px;

  transition:0.3s;
}

.menu a i{
  font-size:22px;
  margin-bottom:4px;
}

.menu a:hover{
  transform:translateY(-2px);
}

/* DROPDOWN */

.dropdown{
  position:relative;
}

.dropdown-btn{

  background:none;
  border:none;

  display:flex;
  flex-direction:column;
  align-items:center;

  cursor:pointer;

  color:var(--rosa);

  font-size:13px;

  transition:0.3s;
}

.dropdown-btn i{
  font-size:22px;
  margin-bottom:4px;
}

.dropdown-btn:hover{
  transform:translateY(-2px);
}

.dropdown-content{

  position:absolute;

  top:70px;
  left:50%;

  transform:translateX(-50%);

  background:white;

  min-width:180px;

  border-radius:12px;

  padding:10px 0;

  box-shadow:0 8px 20px rgba(0,0,0,0.15);

  display:none;

  flex-direction:column;

  z-index:999;
}

.dropdown-content a{

  padding:12px 20px;

  text-decoration:none;

  color:#8F5353;

  font-size:14px;

  transition:0.2s;
}

.dropdown-content a:hover{
  background:#f8e7e7;
}


/* PERFIL */

.perfil{
  display:flex;
  align-items:center;
  gap:20px;

  color:var(--rosa);
}

.perfil a{

  color:#8F5353;

  text-decoration:none;
}

.perfil i{
  font-size:20px;
  cursor:pointer;
}

.usuario{
  display:flex;
  align-items:center;
  gap:10px;
}

.usuario img{
  width:40px;
  height:40px;

  border-radius:50%;

  border:2px solid white;
}

.usuario span{
  font-weight:600;
}

/* BACKGROUND */

.background{
  width:100%;
  height:calc(100vh - 70px);

  position:relative;
  overflow:hidden;
}

/* FLORES */

.flor{
  position:absolute;

  background:rgba(244, 192, 210, 0.35);

  border-radius:50%;
}

/* pétalas */

.flor::before,
.flor::after{
  content:"";

  position:absolute;

  width:100%;
  height:100%;

  background:inherit;

  border-radius:50%;
}

/* flor base */

.flor1{
  width:180px;
  height:180px;

  bottom:-40px;
  left:-40px;
}

.flor2{
  width:160px;
  height:160px;

  bottom:-30px;
  right:-20px;
}

.flor3{
  width:110px;
  height:110px;

  top:120px;
  left:180px;
}

.flor4{
  width:130px;
  height:130px;

  top:250px;
  right:180px;
}

.flor5{
  width:90px;
  height:90px;

  top:120px;
  right:40%;
}

.flor6{
  width:70px;
  height:70px;

  bottom:120px;
  left:40%;
}

/* EFEITO FLOR */

.flor::before{
  transform:translateX(-40%);
}

.flor::after{
  transform:translateY(-40%);
}

/* SIDEBAR NOTIFICAÇÕES */

.notification-sidebar{

  position:fixed;

  top:0;
  right:-350px;

  width:350px;
  height:100vh;

  background:white;

  box-shadow:-5px 0 20px rgba(0,0,0,0.12);

  padding:25px;

  transition:0.4s ease;

  z-index:9999;

  display:flex;
  flex-direction:column;
  gap:20px;
}

/* SIDEBAR ATIVA */

.notification-sidebar.active{
  right:0;
}

/* HEADER */

.sidebar-header{

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding-bottom:15px;

  border-bottom:1px solid #f1dede;
}

.sidebar-header h2{

  color:#8F5353;

  font-size:1.3rem;
}

/* BOTÃO FECHAR */

.close-sidebar{

  font-size:22px;

  color:#8F5353;

  cursor:pointer;

  transition:0.3s;
}

.close-sidebar:hover{
  transform:rotate(90deg);
}

/* ITENS */

.notification-item{

  background:#fff5f7;

  padding:15px;

  border-radius:12px;

  color:#8F5353;

  box-shadow:0 4px 10px rgba(0,0,0,0.05);
}

/* ÍCONE BELL */

.bell-icon{
  cursor:pointer;
  transition:0.3s;
}

.bell-icon:hover{
  transform:scale(1.1);
}

/* USUÁRIO */

.usuario{

  position:relative;

  display:flex;
  align-items:center;

  cursor:pointer;
}

/* ÁREA CLICÁVEL */

.usuario-info{

  display:flex;
  align-items:center;
  gap:10px;
}

/* FOTO */

.usuario img{

  width:42px;
  height:42px;

  border-radius:50%;

  border:2px solid white;
}

/* TEXTO */

.usuario span{

  color:#8F5353;

  font-weight:600;
}

/* DROPDOWN PERFIL */

.profile-dropdown{

  position:absolute;

  top:60px;
  right:0;

  width:220px;

  background:white;

  border-radius:14px;

  box-shadow:0 8px 20px rgba(0,0,0,0.12);

  padding:10px 0;

  display:none;

  flex-direction:column;

  z-index:999;
}

/* DROPDOWN ATIVO */

.profile-dropdown.active{
  display:flex;
}

/* LINKS */

.profile-dropdown a{

  display:flex;
  align-items:center;
  gap:12px;

  padding:14px 18px;

  text-decoration:none;

  color:#8F5353;

  font-size:14px;

  transition:0.2s;
}

/* HOVER */

.profile-dropdown a:hover{

  background:#fff3f5;
}

/* ÍCONES */

.profile-dropdown a i{

  font-size:16px;
}